# EditorConfig helps maintain consistent coding styles
root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{png,jpg,jpeg,gif,svg,ico}]
insert_final_newline = false
trim_trailing_whitespace = false
